.mother-container {
  background-color: #171718;
  max-height: 100% !important;
  overflow-x: hidden;
  color: #ffff;
}

.form-bg {
  background-color: #36363a;
  padding: 10px;
  margin: 4% auto;
  max-width: 35%;
  min-height: 50px;
  position: relative;
}

.font-awesome {
  position: absolute;
  left: 20%;
  padding-top: 5px;
}

#email {
  background-color: #262629;
}

.App {
  background-color: #171718;
  min-height: 100dvh;
}

:focus {
  box-shadow: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5) !;
}

.social-icons {
  background-color: #14f195 !important;
}

button a {
  color: #171719 !important;
}

.social-span {
  margin-left: 40px !important;
}

@media screen and (max-width: 810px) {
  .form-bg {
    min-width: 350px;
  }
  .f-text {
    font-size: 0.46em !important;
  }
}

.f-text {
  font-size: 1em;
}
