.mother-container {
  background-color: #171718;
  min-height: 100dvh;
  color: #ffff;
}

.lg h4 {
  margin: 0 auto;
}

.form-bg {
  background-color: #36363a;
  padding: 10px;
  margin: 40px auto;
  max-width: 30%;
  min-height: 50px;
}

#email {
  background-color: #262629;
}

.App {
  background-color: #171718;
  min-height: 100dvh;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5) !;
}

.social-icons {
  background-color: #14f195 !important;
}

